<p></p>
<mat-card>
    <mat-card-title> 
        <div class="row">
            <h2>Console H2 <img height="38" width="38" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/mysql.svg"/> </h2>     
        </div>
    </mat-card-title>
    <mat-card-content>Lien vers la base de donnée H2</mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="goToLink('http://localhost:8081/h2-console/')">Visiter</button>
    </mat-card-actions>
</mat-card>

<p></p>

<mat-card>
    <mat-card-title> 
        <div class="row">
            <h2>Swagger <img height="38" width="38" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/swagger.svg"/> </h2>     
        </div>
    </mat-card-title>
    <mat-card-content>Lien vers le swagger de l'API-REST</mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="goToLink('http://localhost:8081/swagger-ui/index.html#/')">Visiter</button>
    </mat-card-actions>
</mat-card>

<p></p>

<mat-card>
    <mat-card-title> 
        <div class="row">
            <h2>Twitter <img height="38" width="38" src="https://www.flaticon.com/svg/static/icons/svg/733/733579.svg"/> </h2>     
        </div>
    </mat-card-title>
    <mat-card-content>Lien vers mon Twitter pour me contacter</mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="goToLink('http://twitter.com/sheep_rpz')">Visiter</button>
    </mat-card-actions>
</mat-card>
<p></p>
